{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Admin Pannel</title>


	<link rel="stylesheet" type="text/css" href="{% static 'crud/css/header.css'%} ">
	<link rel="stylesheet" type="text/css" href="{% static 'crud/css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'crud/css/main.css' %}">
	
	
</head>

<body>
{% block body %}

{% csrf_token %}
	<section class="billboard light">
		<header class="wrapper light">
			<a href="#"><img class="logo" src="img/QR_1001.gif" alt=""/></a>
			<nav>
				<ul>
					<a href="admin.html"><li><h3 style="color:#800000;">Show Jobs</h3></li></a>
					<a href="seats.html"><li><h3 style="color:#800000;">Create Job</h3></li></a>
					<a href="update.html"><li><h3 style="color:#800000;">Create Internship</h3></li></a>
					<a href="airline.html"><li><h3 style="color:#800000;">Log Out</h3></li></a>
				</ul>
			</nav>
		</header>

		
	</section><!--  End billboard  -->
	
	
	
	
	
		<table class="table table-bordered">
    <thead class="alert-warning">
        <tr>
            <th>Job Title</th>
            <th>Description</th>
            
        </tr>
    </thead>
    <tbody>
        {% for job in Jobss %}
        <tr>
            <td>{{ job.title }}</td>
            <td>{{ job.descriptions }}</td>
			<td> <img src="{{ job.document.url }}"></td>
			<td> {{ job.document.url }}</td>
			
            <td><center><a class="btn btn-sm btn-warning" href="edit/{{ job.id }}"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a class="btn btn-sm btn-danger" href="delete/{{ job.id }}"><span class="glyphicon glyphicon-trash"></span> Delete</a></center></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
	
	
	
	
	{% endblock %}
	
	
	
	
	
	
	
	
	
</body>
</html>	